<div class="container mt-5">
    <div class="jumbotron text-center p-5 bg-light shadow-sm rounded">
        <h1 class="display-3">Bem vindo, <strong><%= @meu_nome %></strong>!</h1>
        <h3 class="mt-3"><strong>Data: </strong><%= data_br(Date.today) %></h3>
        <div class="mt-4">
            <%= render "menu" %>
        </div>
    </div>
</div>