<table class="table">
  <thead>
    <tr>
      <th>Description:</th>
      <th>Acronym:</th>
    </tr>
  </thead>

  <tbody>
    <th><%= mining_type.description %></th>
    <th><%= mining_type.acronym %></th>
  </tbody>
</table>